<h2 class="img-replace-logo">Sign in</h2>

<%= form_for(:session, url: sessions_path) do |f| %>
  
    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

  <%= f.submit "Sign in" %>
<% end %>

<nav class="nav-bottom">
	<%= link_to "New user?", signup_path %>
</nav>