<h1>Sign in</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
  
  <div class="field">
    <%= f.text_field :email %>
    <%= f.label :email %>
  </div>

  <div class="field">
    <%= f.password_field :password %>
    <%= f.label :password %>
  </div>

  <%= f.submit "Sign in" %>
<% end %>

<p><%= link_to "New user?", signup_path %></p>