<p id="notice"><%= notice %></p>

<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>  
<h2><%= @user.email %></h2>

<nav class="nav-bottom">
	<%= link_to 'Edit Profile', edit_user_path(@user) %> |
	<%= link_to 'Join the Queue', new_appointment_path %>
</nav>
