<h2>Currently in the Queue</h2>

<% @appointments.each do |appointment| %>
  <ul>
      <%= gravatar_for(appointment.user) %>
      <%= appointment.user.name %>
      <%= time_ago_in_words(appointment.created_at) %> ago
      <% if current_user.admin? %>
        <%= link_to 'Destroy', appointment, method: :delete %></li>
      <% end %>
  </ul>
<% end %>

<% unless current_user.admin? %>
  <%= link_to 'New Appointment', new_appointment_path %>
<% end %>
